h1 {
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-size: 140px;
}

body {
    background-color:blueviolet
}

p, ul, ol, figcaption { 
    color: white; 
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

h2 {
    color: white; 
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
}

