h1 {
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-size: 140px;
}

body {
    background-color: red
}

ul {
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;

}